:host {
  width: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: #6bca50;
  font-family: 'Creepster', monospace;
  padding-inline: 3rem;
  min-height: 100px;

  img {
    margin-block-start: 1rem;
  }
}

.team-footer {
  display: flex;
  gap: 0.5rem;
  text-wrap: nowrap;
  align-items: center;
  font-size: 1.7rem;

  h2 {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
  }
}

a {
  color: #e4f960;
  text-decoration: none;
  -webkit-text-stroke: 1px #004b00;
}

@media (width > 700px) {
  footer {
    flex-direction: row;

    img {
      margin-block-start: 0rem;
    }
  }
}

@media (width > 1200px) {
  footer {
    padding-inline: 10rem;
  }
}
