nav ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: 'Creepster', monospace;
  letter-spacing: 0.2rem;
}

li {
  text-decoration: none;
  font-size: 3rem;
}

a {
  color: var(--blue);
  text-decoration: none;
  transition: 0.25s color;

  &:hover {
    color: var(--yellow);
  }
}

@media (width > 1000px) {
  nav ul {
    flex-direction: row;
    gap: 3rem;

    li {
      font-size: 2.5rem;
    }
  }
}
