.character-card {
  width: 250px;
  border-radius: 1rem;
  background-color: var(--dark-green);
  padding-block-end: 1rem;

  li:not(:first-child) {
    color: white;
  }
}

.character-card > ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  li:not(:first-child) {
    padding-inline: 0.8rem;
  }
}

.character-img {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.character-name-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.character-name {
  font-family: 'Creepster', monospace;
  font-size: 1.5rem;
  color: var(--light-green);
}

.character-status-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5px;
}

.status-circle {
  padding: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.status-alive {
  background-color: var(--light-green);
}

.status-unknown {
  background-color: rgb(255, 208, 0);
}

.status-dead {
  background-color: red;
}

.character-location {
  padding-block-end: 1rem;
}
