character-card {
  width: 300px;
  border-radius: 1rem;
  background-color: var(--dark-green);
  padding-block-end: 1rem;
  height: 500px;
  color: white;
}

.character-card > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.character-img {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.character-name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
}

.character-name {
  font-family: 'Creepster', monospace;
  font-size: 1.5rem;
  color: var(--light-green);
}

.character-status-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5px;
}

.status-circle {
  padding: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.status-alive {
  background-color: var(--light-green);
}

.status-unknown {
  background-color: rgb(255, 208, 0);
}

.status-dead {
  background-color: red;
}

.character-location {
  padding-block-end: 1rem;
}

.info-text,
.more-info-container{
  display: flex;
  padding-bottom: 0.5rem;
  padding-inline: 0.5rem;
  color: white;
}


.more-info-container{
flex-direction: column;
justify-content: center ;
padding-inline: 0.5rem;
}
