:root {
  --dark-green: #215918;
  --bright-green: #48e117;
  --light-green: #c6ff68;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-image: url(assets/background.png);
  background-size: contain;
  font-family: 'Roboto', monospace;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
