:root {
  --black: #061306;
  --dark-green: #215918;
  --bright-green: #48e117;
  --radioactive-green: #87d572;
  --light-green: #c6ff68;
  --yellow: #e4f960;
  --blue: #42b4ca;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-image: url(assets/img/background.png);
  background-size: contain;
  font-family: 'Roboto', monospace;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktop {
  padding-inline-end: 2rem;
  li a {
    font-size: 2.2rem;
  }
}

.mobile {
  position: absolute;
  z-index: 1;
  top: 0;
  height: fit-content;
  width: 100%;
  background-color: var(--radioactive-green);

  li a {
    font-size: 2rem;
    color: var(--black);
  }

  @media (width > 500px) {
    ul {
      flex-direction: row;
      gap: 1.5rem;
    }
  }
}
