:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  flex: 1;
  padding-block: 2rem;
  display: flex;
  justify-content: center;
}

.home-section {
  flex: 43;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.background-img {
  flex: 1;
  position: relative;
  bottom: 0;
  width: 100%;
}

@media (width > 500px) {
  .background-img {
    width: 400px;
    margin: 0 auto;
  }
}
