:host {
  display: flex;
  justify-content: center;
  width: 100%;
}

.pagination-btns {
  display: flex;
  gap: 0.5rem;
  margin-block-end: 0.5rem;
}

.pag-btn {
  background-color: var(--bright-green);
  border: 0;
  border-radius: 2rem;
  padding-block: 0.2rem;
  padding-inline: 1rem;
  cursor: pointer;

  i {
    font-size: 2rem;
  }
}
